@import url('https://fonts.cdnfonts.com/css/jimat');
@import url('https://fonts.cdnfonts.com/css/press-start-2p');


.project_slides{

  text-align: center;
  width: 65%;
  height: 100%;
 
  margin: auto; 
  /*margin-bottom: 25%;*/
  /*overflow:scroll;*/
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
}

body {
    /* margin is the same size as sidebar */
  font-family: 'Press Start 2P', "Lucida Console", "Courier New", monospace;
  margin: 0;
  font-size:15px;
  font-weight: 900;
  color: #ffb6c1

}

.header-text{
  color: #ff007f; 
}
header {
  text-align: center;
  font-family: 'JIMAT', sans-serif;
  color: #ffb6c1;
  font-weight: 900;
  font-size: calc(10vw);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}



html {
  background-color: #000000ee;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjust min and max width as needed */
  grid-gap: 20px; /* spacing between grid items */
  padding: 20px;
}

.card:hover {
  background-color: #141414; /* Change background color on hover */
}

.card {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  /* Adjust font size using relative units */
  font-size: 0.5em;
  /* Adjust text overflow behavior */
  word-wrap: break-word; /* Wrap long words */
  overflow: scroll; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display ellipsis for long texts */
  border-radius: 10px;
  border: 0.4px solid #666;
}

.about-section {
  text-align: center;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
}



.button {
  display: inline-block;
  padding: 2cap 2cap;
  font-family: 'Press Start 2P';
  font-size: 1.5em;
  color: #ffb6c1;
  background-color: #000; 
  border: 2px solid #ffb6c1; 
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}

nav {
  background-color: #666;
  padding: 10px 0;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color:#ff007f; 
}

.contact-bar {
  background-color: #f8f9fa;
  color: #333;
  padding: 10px;
  text-align: center;
}

.contact-bar p {
  margin: 0;
}

.button:hover {
  background-color: #ff007f; 
  color: #ffb6c1; 
  border-color: #ffb6c1 
}



@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
